html {
  height: 100%;
}

body {
	overflow-x: hidden;
	min-height: 100%;
}

.demoWrapper {
  padding: 20px 100px;
  background: #D7CCC8;
  box-sizing: border-box;
  resize: horizontal;
  overflow: auto;
  max-width: 100%;
  height: calc(100vh - 16px);
  height: 80%;
}

.tableau-liege {
  width: 100%;
  /*padding-bottom: 56.25%;*/
  background: #DEB887;
  background-image: url(https://previews.123rf.com/images/ccat82/ccat821203/ccat82120300063/12704367-texture-fine-avec-du-li%C3%A8ge-pour-l-utilisation-d-arri%C3%A8re-plan.jpg);
  border: solid;
  border-width: 18px;
  border-color: #5D4037;
}


.post-it {
  background-color: gold;
  height: 50px;
  width: 10%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 5px !important;
}

.pdf {
  background-color: ghostwhite;
  height: 250px;
  width: 10%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 5px !important;
}

.image {
  
}


.pdf button {
  font-size: 0.8em;
  width: 100% !important;
  height: 100% !important;
}

.post-it button {
  font-size: 0.6em;
  width: 100% !important;
  height: 100% !important;
}



.post-it-body {
  background-color: gold;
}

.post-it.col-1 {
  height: 70px;
}

.post-it.col-2 {
  height: 130px;
}




@media only screen and (max-width: 800px) {
  .demoWrapper {
    padding: 10px 0px;
  }

  .post-it button {
  font-size: 0.5em;
  }
}


@media only screen and (min-width: 1100px) {
  .demoWrapper {
    padding: 10px 180px;
  }
}















